{% extends "talleres/layout.html" %}

{% block body %}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1 class="mt-5">Taller</h1>
        <p class="lead">Bienvenido, {{ request.user.first_name }}</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 text-left">
        <h3 class="mt-5">Lista de Pedidos</h3>
        <div class="list-group">
            {% for un_pedido in pedidos %}
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Pedido Nº{{un_pedido.id}}  <small style="color:red">{{un_pedido.estado}}</small></h5>
                <small><a href="{% url 'talleres:finalizado' un_pedido.id %}" class="btn btn-success" role="button">Finalizado</a></small>
              </div>
              <p class="mb-1">
                <ol>
                    {% for un_producto in un_pedido.producto.all %}
                        <li>{{un_producto.nombre}},{{un_producto.detalle}}
                            {% if un_producto.tipo is not None %}
                            ,{{un_producto.tipo}}
                            {%endif%}
                            {% if un_producto.lado is not None %}
                            ,{{un_producto.lado}}
                            {%endif%}
                            {% if un_producto.armazon is True %}
                            ,Con armazon.
                            {%endif%}
                        </li>
                    {% endfor %}
                    </ol>
              </p>
              {% endfor %}
        </div>
    </div>
</div>
    
   
    


{% endblock %}